<h1> <%= t('.title') %> </h1>

<% @articles.each do |article| %>
  <h2> <%= article.title %> </h2>
  <% if article.image.attached? %>
    <img src="<%= url_for(article.image) %>" alt="<%= article.image.filename %>">
  <% end %>
  <p> <%= article.summary %> </p>
  <%= link_to 'Show', article_path(article) %>
  <br>
<% end %>
