<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">

    <ul class="uk-navbar-nav">
      <li class="uk-active"> <%= link_to t('navbar.home'), root_path, :class => 'navbar-link'  %> </li>
      <li> <%= link_to t('navbar.contact'),  pages_contact_path , :class => 'navbar-link'  %> </li>
      <!-- <li>
        <a href="#"> Session </a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <% if user_signed_in? %>
              <li> Logged in as <strong><%= current_user.email %></strong>. </li>
              <li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
              <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>  </li>
              <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>  </li>
            <% end %>
          </ul>
        </div>
      </li> -->
      <li>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('language_name') %>
        </a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li> <%= link_to t('language_name', locale: :en), request.params.merge(locale: :en), class: 'dropdown-item' %> </li>
            <li> <%= link_to t('language_name', locale: :es), request.params.merge(locale: :es), class: 'dropdown-item' %> </li>
            <li> <%= link_to t('language_name', locale: :pt), request.params.merge(locale: :pt), class: 'dropdown-item' %> </li>
          </ul>
        </div>
      </li>

    </ul>
  </div>
</nav>
