<h1> Resources </h1>

  <% @resources.each do |resource| %>
    <% if resource.image.attached? %>
      <img src="<%= url_for(resource.image) %>" alt="<%= resource.image.filename %>">
    <% end %>
    <h2> <%= resource.title %> </h2>
    <p> <%= resource.description %> </p>
    <% if resource.attach.attached? %>
      <%= link_to 'Descargar', url_for(resource.attach), target: "_blank" %>
    <% end %>
    <br>
  <% end %>
